language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r tests/requirements.txt
# command to run tests

script:
  - flake8 --count --statistics django_ip_geolocation
  - bandit -r django_ip_geolocation
  - python setup.py sdist
  - twine check dist/*
  - tox

